<!DOCTYPE html>
<html>
<head>
    <title>Invoice OCR System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>📄 Invoice OCR System</h1>
    <p class="subtitle">Upload your invoice and extract details instantly</p>

    <form action="/upload" method="post" enctype="multipart/form-data">
        
        <div class="upload-box">
            <input type="file" name="file" required>
        </div>
         <div>
        <button type="submit" class="upload-btn">
            🚀 Upload & Generate Invoice
        </button>
        </div>

    </form>
</div>

</body>
</html>